@{
    ViewData["Title"] = "Restricted Area";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Results</h2>
        <ul>
            <li><a href="#">TODO</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Races</h2>
        <ul>
            <li><a asp-area="" asp-controller="Race" asp-action="Index">Show Races</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Pilots</h2>
        <ul>
            <li><a href="#">TODO 2</a></li>
        </ul>
    </div>
   
</div>
